body {
  overflow: auto;
}

/* nav */
.navbar {
  border-radius: 0;
}

/* date */
#date {
  text-align: center;
  display: inline-block;
}

#date:hover {
  color: red;
}

.dateContainer {
  text-align: center;
}

.button {
  width: 180px;
  height: 105px;

}

#cancel, .button, #addExercise, #formAdd {
  display: inline-block;
}

.btnHolder {
  text-align: center;
  margin-top: 30px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

#remove, #plus {
  outline: none;
}

#error {
  display: none;
  margin: 0;
  padding: 6px;
}

#saveWorkout {
  text-align: center;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
